<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Planit</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="">
    <header class="">
      <h1>
       Plan your next Event!
      </h1>
    </header>
      <nav>
        <a href="/">Home</a>
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a href="/homepage">logout</a> |
        <button class="" id="logout">logout</button>
        {{else}}
        <a href="/login">login</a>
        <a href="/venues">venues</a>
        <a href="/vendors">vendors</a>
        {{/if}}
      </nav>
    <main class="">
      <!-- Render the sub layout -->
      {{{ body }}}
      
      <div class="row">
  <div class="column">

  </div>
  <div class="column">

  </div>
</div>
      
    </main>
    <footer>
      
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>