


<div class="form-group">
    <button class="btn btn-primary" type="submit">New Event</button>
  </div>

{{#each venues as |venue| }}
<div>
  <div class="col-md-5">
    <h2>
      <a href="/event/{{venue.id}}">{{venue.name}}</a>
    </h2>
    <img src="{{venue.image}}"/>
  </div>
{{/each}}


