


<div class="form-group">
    <button class="btn btn-primary" type="submit">New Event</button>
  </div>

{{#each events as |event| }}
<div>
  <div class="col-md-5">
    <h2>
      <a href="/event/{{event.id}}">{{event.name}}</a>
    </h2>
    <img src="{{event.image}}"/>
  </div>
{{/each}}

