{{!-- ACCOUNT LOGIN --}}
<main id="login/register-handlebar">
  <section id="login-container" class="toggle-content p-2" aria-hidden="false">
    <h2 class="text-center">Login</h2>
    <form class="form login-form">
      <div class="mb-3">
        <label for="email-login" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email-login" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="password-login" class="form-label">Password</label>
        <input type="password" class="form-control" id="password-login">
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="keep-logged-in">
        <label class="form-check-label" for="keep-logged-in">Keep Me Logged In</label>
      </div>
      <button type="submit"
        class="btn btn-outline-primary d-flex justify-content-center align-item-center fw-bold">Submit</button>
    </form>
    <div>
      <a class="register-login-toggle my-2" aria-controls="toggle-content" href="">Register New Account</a>
    </div>
  </section>


  {{!-- REGISTER ACCOUNT --}}
  <section id="register-container" class="toggle-content p-2" aria-hidden="true">
    <h2 class="text-center">Register</h2>
    <form class="logout-form signup-form">
      <div class="mb-3">
        <label for="name-signup" class="form-label">Name</label>
        <input type="text" class="form-control" id="name-signup" aria-describedby="nameHelp">
      </div>
      <div class="mb-3">
        <label for="email-signup" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email-signup" aria-describedby="emailHelp">
      </div>
      <div class="col-auto">
        <label for="password-signup" class="col-form-label">Password</label>
      </div>
      <div class="col-auto">
        <input type="password" id="password-signup" class="form-control" aria-describedby="passwordHelpInline">
      </div>
      <div class="col-auto">
        <span id="passwordHelpInline" class="form-text text-dark">
          Must be 8 characters minimum
        </span>
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Keep Me Logged In</label>
      </div>
      <button type="submit"
        class="btn btn-outline-primary d-flex justify-content-center align-item-center fw-bold p-2">Submit</button>
    </form>
    <div>
      <a class="register-login-toggle " aria-controls="toggle-content" href="">Register New Account</a>
    </div>
  </section>
</main>

  <script src="./js/login.js"></script>