{{!-- ACCOUNT LOGIN --}}
<div id="login/register-handlebar">
  <div id="login-container" class="toggle-content" aria-hidden="false">
    <h2 class="text-center">Login</h2>
    <form class="form login-form">
      <div class="mb-3">
        <label for="email-login" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email-login" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="password-login" class="form-label">Password</label>
        <input type="password" class="form-control" id="password-login">
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Keep Me Logged In</label>
      </div>
      <button type="submit"
        class="btn btn-outline-primary d-flex justify-content-center align-item-center">Submit</button>
    </form>
    <div>
      <a class="register-login-toggle" aria-controls="toggle-content" href="">Register New Account</a>
    </div>
  </div>

  {{!-- REGISTER ACCOUNT --}}

  <div id="login/register-handlebar" class="toggle-content" aria-hidden="true">
    <div id="login-container" >
      <h2 class="text-center">Register</h2>
      <form class="logout-form signup-form">
        <div class="mb-3">
          <label for="email-login" class="form-label">Name</label>
          <input type="email" class="form-control" id="email-login" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="email-login" class="form-label">Email address</label>
          <input type="email" class="form-control" id="email-login" aria-describedby="emailHelp">
        </div>

        <div class="col-auto">
          <label for="inputPassword6" class="col-form-label">Password</label>
        </div>
        <div class="col-auto">
          <input type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
        </div>
        <div class="col-auto">
          <span id="passwordHelpInline" class="form-text">
            Must be 8 characters minimum
          </span>
        </div>

        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Keep Me Logged In</label>
        </div>
        <button type="submit"
          class="btn btn-outline-primary d-flex justify-content-center align-item-center">Submit</button>
      </form>
      <div>
        <a class="register-login-toggle" aria-controls="toggle-content" href="">Register New Account</a>
      </div>
    </div>




    {{!-- <div class="toggle-content" aria-hidden="true">
      <h2>Register</h2>

      <form class="logout-form signup-form">
        <div class="form-group">
          <label for="name-signup">name:</label>
          <input class="form-input" type="text" id="name-signup" />
        </div>
        <div class="form-group">
          <label for="email-signup">email:</label>
          <input class="form-input" type="text" id="email-signup" />
        </div>
        <div class="form-group">
          <label for="password-signup">password:</label>
          <input class="form-input" type="password" id="password-signup" />
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit">signup</button>
        </div>
      </form>
      <div>
        <a class="register-login-toggle" aria-controls="toggle-content" href="">Register New Account</a>
      </div>
    </div>
  </div> --}}

  <script src="./js/login.js"></script>