<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Event:</h3>

    <form class="form new-event-form">
      <div class="form-group">
        <label for="event-name">event name:</label>
        <input class="form-input" type="text" id="event-name" name="event-name" />
      </div>
      <div class="form-group">
        <label for="event-budget">Buget ($):</label>
        <input class="form-input" type="number" id="event-budget" name="event-budget" />
      </div>
      <div class="form-group">
        <label for="event-desc">description:</label>
        <textarea class="form-input" id="event-desc" name="event-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  {{#if events.length}}
  <div class="col-md-6 event-list">
    <h3>Current events:</h3>

    {{#each events as |event|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/event/{{event.id}}">{{event.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger delete-event-btn" data-id="{{event.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}

  <div>
    <h3></h3>
  </div>
</div>

<script src="./js/profile.js"></script>
