<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Event:</h3>

    <form class="form new-event-form">
      <div class="form-group">
        <label for="event-name">Event name:</label>
        <input class="form-input" type="text" id="event-name" name="event-name" />
      </div>
      <div class="form-group">
        {{!-- TODO: Add scroll (and include other as well => wedding, engagement, hens, birthday, christening, anniversary, other ) --}}
        <label for="event-type">Event type:</label>
        <input class="form-input" type="text" id="event-name" name="event-name" />
      </div>
      <div class="form-group">
        <label for="event-budget">Buget ($):</label>
        <input class="form-input" type="number" id="event-budget" name="event-budget" />
      </div>
      <div class="form-group">
        <label for="event-guest">Number of guests:</label>
        {{!-- TODO: Need to be edited in front end js --}}
        <textarea class="form-input" id="event-guest" name="event-guest"></textarea>
      </div>
      <div class="form-group">
        <label for="event-venue">Does your event need a venue?</label>
        {{!-- TODO: Need to be edited in front end js --}}
        <button type="yes" class="btn btn-primary">Yes</button>
        <button type="no" class="btn btn-primary">No</button>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  {{#if events.length}}
  <div class="col-md-6 event-list">
    <h3>Current events:</h3>

    {{#each events as |event|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/event/{{event.id}}">{{event.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger delete-event-btn" data-id="{{event.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}

<script src="./js/profile.js"></script>
