<section class="container ">
    <h1>Venues</h1>
  <section class="row justify-center ">
    {{#each venues as |venue|}}   
    {{> venue-details}}
    {{/each}}
  </section>
</section>

<script src="./js/venue.js"></script>