
/* MAIN HANDLEBAR --------------------------------------------------------------------------------------- */
*{
  margin: 0;
  padding: 0;
}

body {
  background-color: white ;
  background-image: url("../../assets/backgrounds/wedding-venue.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: auto;
  position: relative;
  background-attachment: fixed;
  z-index: -1;
}

/* Navbar */
.navbar{
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar-brand{
  font-size: 60px;
  backdrop-filter: blur(2px);
  border-radius: 30px;
}
.navbar-brand:hover{
  transform: scale(1.1);
  transition: all 0.5s ease;
}
.navbar-nav{
  font-size: 30px;
  backdrop-filter: blur(4px);
  border-radius: 30px;
}
.nav-item:hover{
  transform: scale(1.2);
  transition: all 0.5s ease;
}

/* HOMEPAGE HANDLEBAR -------------------------------------------------------------------------------------- */
/* Section Header */
.plan-your-event {
  margin-top: 15%;
}

h1 {
  font-size: 75px;
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 30px;
}

.slogan {
backdrop-filter: blur(3px);
}

p {
  font-size: 25px;
  justify-content: center;
  align-content: center;
  border-radius: 30px;
}

/* LOGIN/REGISTER HANDLEBAR ------------------------------------------------------------------- */

.toggle-content {
   display:none;
} 

.toggle-content[aria-hidden="false"] {
  display: block
} 

/* LOGIN */
#login-container {
  margin-top: 45%;
  width: 115%;
  backdrop-filter: blur(3px);
  border-radius: 10px;
}

/* REGISTER */
#register-container {
  margin-top: 45%;
  width: 115%;
  backdrop-filter: blur(3px);
  border-radius: 10px;
}

/* PROFILE HANDLEBAR ---------------------------------------------------------------------- */

.profile-card{
  backdrop-filter: blur(3px);
  border-radius: 10px;
  transition: all 0.2s ease;
}

.profile-card:hover{
  transform: scale(1.01);
  box-shadow: 1px 2px 10px black;
}

/* TODO - DOES NOT REMOVE UNDERLINE */
.h4-event-name {
  text-decoration: none;
}

.add {
  /* font-size: larger; */
  margin-bottom: 50px;
}



/* VENUE / VENUE-DETAILS HANDLEBARS ------------------------------------------------------- */
/* VENUE-DETAILS HANDLEBAR */
.venue-name {
  font-size: 45px;
}

h2 {
  margin-top: 5%;
  font-size: 55px;
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 30px;
}

.venue-card {
  backdrop-filter: blur(7px);
  border-radius: 30px;
  background-color: rgba(255,255,255,0.25);
}

.venue-img {
  display:block;
  max-width: 100%;
}

.venue-description, .venue-cap, .venue-price, .venue-no, .venue-email {
  font-size: 20px;
  font-weight: 500;
}

/* VENDOR / VENDOR DETAILS HANDLEBAR -------------------------------------------------------*/

.vendor-card-body {
  backdrop-filter: blur(7px);
  border-radius: 30px;
  background-color: rgba(255,255,255,0.25);
}

.vendor-img {
  height: 250px;
  width: auto;
  border-radius: 10px;
}

.vendor-desc, .vendor-price, .vendor-no, .vendor-email {
  font-size: 20px;
  font-weight: 500;
}

/* EVENTS HANDLEBAR */
.event-vendor-img {
  height: 250px;
  max-width: 100%;
  border-radius: 10px;
}





























